<ul class="tree"<%= parent ? "id=\"tree_#{parent.id}\"" : '' %>>
<% pages.each do |page| %>
	
	<li class="tree_node">
	
	<div class="tree_item level_<%= page.ancestors.size %><%= ' unpublished' unless page.published? %>" >
		<div class="item_title">
			<% if page.children.size > 0 %>
			<span class="tree_toggle">
				<a href="#" id="tree_toggle_<%= page.id %>" class="expanded" onclick="toggleTree('<%= "#{page.id}" %>', this); return false;">&darr;</a>
			</span>
			<% else %>
			<span class="tree_toggle empty">&rarr;</span>
			<% end %>
			<%= link_to page.name, edit_admin_page_path(page.frame, page), :class => 'pageTitle' %>
			<%= link_to image_tag('admin/icons/preview_page.png', :border => 'none'), page.path, :popup => true %>
		</div>
		<div class="item_actions">
			<%= link_to 'Edit', edit_admin_page_path(page.frame, page), :class => 'item_edit' %>
			<span>move</span>
			<%= link_to 'Up', up_admin_page_path(page.frame, page), :confirm => "Move &quot;#{page.name}&quot; up?", :class => 'item_move_up' %>
			<%= link_to 'Down', down_admin_page_path(page.frame, page), :confirm => "Move &quot;#{page.name}&quot; down?", :class => 'item_move_down' %>
			<%= link_to 'Destroy', admin_page_path(page.frame, page), :confirm => "PERMANENTLY delete &quot;#{page.name}&quot;?", :method => :delete, :class => 'item_destroy'%>
		</div>
	</div>

	<% if !page.children.empty? %>
		<%= render :partial => 'tree', :locals => { :pages => page.children, :parent => page } %>
	<% end %>
	</li>
	
	
<% end %>
</ul>