<h1>Pages</h1>
	
<ul id="frames">
<% Page.frames.each_with_index do |frame, i| %>
	<li><h3 style="display: inline">Frames &nbsp;</h3></li>
	<li class="frame<% if i == 0 %> first<% end %><% if frame == @frame %> current<% end %>" >
		<%= link_to frame.titleize, admin_pages_path(:frame => frame)%>
	</li>
<% end %>
</ul>
	
<div class="new_page_link">
	<%= link_to 'New Page', new_admin_page_path(@frame) %>
</div>

<div class="pages">
	<h3>Pages in <%= @frame.titleize %></h3>
	<%= render :partial => 'tree', :locals => { :pages => [ @root ], :parent => false }%>
</div>


<script type="text/javascript">
<% if session[:tree_toggles] -%>
<% session[:tree_toggles].each do |k,v| -%>
<%= "$('tree_#{k}').hide();" unless v %>
<%= "$('tree_toggle_#{k}').className = 'collapsed';" unless v %>
<% end -%>
<% end -%>
</script>