<h1><%= @frame.capitalize %> Pages</h1>

<div class="create" id="create_a_new_page">
	<%= link_to image_tag('admin/add.png') + ' Add New Page', '#' %> <span></span>
</div>
<script type="text/javascript">
var create = $('create_a_new_page');
var span = $$('#create_a_new_page span');
Event.observe(create, 'mouseover', function(){
	span[0].update('Drag me into an existing page');
}, false);
Event.observe(create, 'mouseout', function(){
	span[0].update('');
}, false);

</script>

<%= draggable_element :create_a_new_page, :revert => true, :ghosting => true %>


<% form_tag do %>
	<div class="selector">
		<h3>Frame:</h3>
		<%= select_tag 'frame', options_for_select(Page.frames, @frame), :onchange => 'this.form.submit();' %>
	</div>
<% end %>

<% if @root %>
  <%= javascript_tag 'hover = false;' %>
	<%= render :partial => 'tree', :locals => { :pages => [ @root ], :parent => false } %>
<% else %>
	<div>There are no pages in this frame.</div>
<% end %>
	
